source https://nuget.org/api/v2

nuget NuGet.CommandLine
nuget NUnit 2.6.4
nuget YC.SDK  
nuget YC.SDK.Runtime  
nuget FSharpx.Collections.Experimental 1.15.2
nuget FSharpx.Collections 1.15.2

group Build
  source https://nuget.org/api/v2
  
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  
  nuget NUnit ~> 2
  nuget NUnit.Runners ~> 2