<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Argu" version="3.2.0" targetFramework="net451" />
  <package id="DotNet.Contracts" version="1.10.10126.4" targetFramework="net451" developmentDependency="true" />
  <package id="DotParser" version="1.0.6" targetFramework="net451" />
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net451" />
  <package id="FSharpx.Collections" version="1.15.1" targetFramework="net451" />
  <package id="FSharpx.Collections.Experimental" version="1.15.1" targetFramework="net451" />
  <package id="Mono.Addins" version="1.2" targetFramework="net451" />
  <package id="YC.PrettyPrinter" version="0.0.5" targetFramework="net451" />
  <package id="YC.QuickGraph" version="3.7.3" targetFramework="net451" />
  <package id="YC.SDK" version="0.1.0.0-beta2" targetFramework="net451" />
  <package id="YC.SDK.Runtime" version="0.1.0.0-beta2" targetFramework="net451" />
  <package id="YC.Utils.SourceText" version="0.3.0.1" targetFramework="net451" />
</packages>